{% extends "base_auth.html" %}
{% load django_bootstrap5 %}


{% block body %}

 <section class="user-form-part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-12 col-lg-12 col-xl-10">
                <div class="user-form-logo">
                    <a href="index.html"><img src="{{setting_data.logo.url}}" alt="logo"></a>
                </div>
                <div class="user-form-card">
                    <div class="user-form-title">
                        <h2>Activate Yuor Account Now!!</h2>
                    </div>
                    
                        <form  method="post"  class="user-form" action="{% url 'user_activate' username=username %}">
                            {% csrf_token %}
                        
                            
                            {% bootstrap_form form %}
                                                        
                            <div class="form-button">
                                {% bootstrap_button button_type="submit" content="Activate" %}
                            </div>
                            
                        </form>
                        
                    </div>
                    
                </div>

                
                <div class="user-form-card">
                        <div class="user-form-title">
                            <h2>Resend code</h2>
                        </div>
                        <!-- Resend Code Form -->
                        <form method="post" action="{% url 'resend_code' username=username %}" class="resend-code-form">
                            {% csrf_token %}
                            <div class="form-button">
                                {% bootstrap_button button_type="submit" content="Resend Code" %}
                            </div>
                        </form>
                </div>
        
            </div>
               
                
                <div class="user-form-footer">
                    <p>Taha | &COPY; Copyright by <a href="/">{{setting_data.name}}</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


 {% endblock body %}